@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@keyframes seta {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.2);
  }
}

body {
  background-color: #59405c;
  font-family: "Montserrat", sans-serif;
  margin: 0 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header a {
  font-size: 1.2em;
  text-decoration: none;
  color: #ffd4d3;
  margin: 0 30px 0 30px;
}

.header a:hover {
  color: #b52b65;
  cursor: pointer;
}

.header p {
  display: flex;
  margin: 50px 0 0 45px;
  width: 500px;
}

h1 {
  color: #ffd4d3;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: 10px;
  margin: 60px 0 60px 20px;
}

h4 {
  color: #b52b65;
  font-size: 5em;
  background-color: #3c2c3e;
  margin: 0 0;
  padding: 0 20px;
  font-family: "Hammersmith One", sans-serif;
}

/* SOBRE */

.tag span {
  color: #b52b65;
  background-color: #3c2c3e;
  font-size: 1.5em;
  font-family: "Hammersmith One", sans-serif;
  margin-left: 20px;
}

.tags {
  display: flex;
}

.sobre-title {
  color: #ffd4d3;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 6px;
}

.sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6em;
}

.sobre-p {
  display: flex;
  align-items: center;
  text-align: start;
  width: 620px;
  color: #ffd4d3;
  font-size: 1.2em;
  background-color: #3c2c3e;
  padding: 30px 50px;
}

.sobre img {
  width: 150px;
  height: 160px;
}

/* PROJETOS */

.projetos-title {
  color: #ffd4d3;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 6px;
}

.projetos-info a,
p {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  width: 320px;
}

.about-project span {
  padding: 0 15px;
}

.about-project p {
  display: flex;
  align-items: center;
  height: 70px;
  color: #ffd4d3;
  margin: 0 0;
}

.projetos-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
}

.projetos-info img {
  width: 350px;
  height: 180px;
}

.projeto {
  margin: 50px 90px 60px 90px;
  max-width: 350px;
  transition: 0.5s ease-in-out;
}

.single-project {
  display: flex;
  background-color: #3c2c3e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.projetos-row {
  display: flex;
}

/* ICONS */

.wrapper {
  position: absolute;
}

.wrapper ul {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 40px;
}

.wrapper ul li {
  width: 65px;
  height: 65px;
  margin-right: 40px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #3c2c3e;
  background-color: #3c2c3e;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #ffd4d3;
  margin-top: 16px;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa {
  transform: scale(1.2);
}

.arrow {
  color: #ffd4d3;
  position: fixed;
  bottom: 50px;
  left: 30px;
  animation: seta 0.5s ease-in 0s infinite alternate;
}

/* OVERLAY */

.overlay--pseudo-elements {
  position: relative;
}

.overlay--pseudo-elements:before {
  content: "";
  background-color: rgba(60, 44, 62, 0.9);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.6s all;
  width: 100%;
  height: 100%;
}

.overlay--pseudo-elements:hover:before {
  opacity: 1;
}

.demo {
  background-color: #59405c;
  width: 70px;
  opacity: 0;
  position: absolute;
  display: flex;
  left: 50%;
  margin-left: -45px;
  top: 35%;
  transition: 0.6s all;
  font-family: "Hammersmith One", sans-serif;
}

.demo .fa {
  color: #ffd4d3;
  font-size: 2em;
  margin-left: 10px;
}

.overlay--pseudo-elements:hover .demo {
  opacity: 1;
}

/* media queries */

@media screen and (max-width: 640px) {
  .container {
    height: 300px;
    width: 100%;
  }
  .wrapper ul {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left: 0;
    top: 0;
    right: 11%;
    background-color: #59405c;
    position: fixed;
  }

  .chevron,
  .arrow {
    display: none;
    opacity: 0;
  }

  .wrapper ul li {
    margin: 0 5px;
  }

  .projetos-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .sobre img {
    width: 100px;
    height: 110px;
  }

  .sobre-p {
    padding: 6px;
    font-size: 0.8em;
    width: 300px;
    flex-direction: column;
  }

  .tags {
    flex-direction: column;
  }

  .tag span {
    font-size: 1.5em;
    margin-left: 0px;
  }

  .projeto {
    margin: 20px 0px 20px 00px;
  }

  .projetos-info img {
    width: 300px;
    height: 180px;
  }

  h1 {
    font-size: 1.5em;
    letter-spacing: 10px;
    margin: 100px 0 10px 20px;
  }

  h4 {
    font-size: 2em;
    padding: 0 20px;
  }
  .header p {
    margin: 10px 0 0 10px;
    width: 80%;
  }

  .header a {
    font-size: 1em;
    margin: 0 10px 0 10px;
  }

  .single-project {
    width: 300px;
    margin: 0;
  }

  .sobre-title,
  .projetos-title {
    font-size: 1em;
    margin: 0;
  }

  .projetos-info a,
  p {
    font-size: 11px;
    width: 300px;
  }
  .about-project span {
    padding: 0 15px;
  }
  .about-project p {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .wrapper ul li {
    width: 35px;
    height: 35px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius: 50%;
    border: 1px solid #3c2c3e;
    background-color: #3c2c3e;
  }

  .wrapper ul li .fa {
    margin-top: 1px;
    transform: scale(0.4);
  }

  .wrapper ul li:hover .fa {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 340px) {
  .wrapper ul {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left: 0;
    top: 0;
    background-color: #59405c;
    width: 100%;
  }

  .chevron,
  .arrow {
    display: none;
    opacity: 0;
  }

  .wrapper ul li {
    margin: 0 5px;
  }
  .projetos-row {
    flex-direction: column;
    width: 200px;
  }

  .sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobre-p {
    width: 250px;
    flex-direction: column;
  }

  .tag span {
    font-size: 1em;
    margin-left: 0px;
  }

  .projeto {
    margin: 50px 0px 60px 00px;
  }
}
